<% set_title "Manage Finances" %>
<script>
  var INVOICES = <%=raw invoice_amounts_hash(@unpaid_invoices).to_json %>;
  $(function () {
    $('#payment_invoice_id').change(function () {
      $('#payment_amount').val( INVOICES[$('#payment_invoice_id').val()] );
    });
  });
</script>
<div class="span-20">
  <h1>Finances</h1>

  <div class="box box_round clearfix">
    <%= form_for(@payment) do |f| %>
      <h3>Create Payment</h3>
      <table>
        <tr>
          <td><%= f.label :invoice_id, "For" %></td>
          <td><%= f.label :amount %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.select :invoice_id, @invoices_for_select, :blank => true %></td>
          <td><%= f.text_field :amount %></td>
          <td><%= f.submit %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<div class="span-20">
  <%= render 'shared/invoices', :invoices => @invoices, :show_username => true %>
</div>
