<% if @user == current_user %>
  <h1>Edit your membership</h1>
<% else %>
  <h1>Editing Membership for <%= @user.full_name %></h1>
<% end %>

<%= form_for(@membership) do |f| %>
  <%= f.error_messages %>

  <div class="span-12">
    <% if can? :change_fee, @membership %>
      <div class="form_section">
        <%= f.label :monthly_fee %><br />
        <%= f.text_field :monthly_fee, :value => ("%0.2f" % @membership.monthly_fee) %>
      </div>
    <% end %>

    <div class="form_section">
      <%= f.label :member_since %><br />
      <%= f.date_select :member_since, :discard_day => true %>
    </div>

    <div class="form_section">
      <%= f.label :state, "Membership status" %><br />
      <%= f.select :state, Membership.state_machine.states_for_select %>
      <%= link_to_function "explanation", "$('#state-explanation').toggle()" %>
      <div id='state-explanation' class='box' style="display:none">
        <dl>
          <dt>Preactive</dt><dd>This member has signed up for the site but their account hasn't been activated.</dd>
          <dt>Active</dt><dd>Normal member.</dd>
          <dt>Suspended</dt><dd>Continue to generate invoices but don't send notifications, don't allow voting.</dd>
          <dt>Inactive</dt><dd>Don't allow payments, don't generate invoices, don't allow voting or access.</dd>
        </dl>
      </div>
    </div>

    <%= submit_tag %>
  </div>

  <div class="span-12 last">
    <div class="form_section">
      <%= render 'shared/invoices', :invoices => @membership.invoices %>
    </div>
  </div>

<% end %>
