<%= form_for(@invoice, :remote => true) do |f| %>
  <div class="error-messages error" style='display:none'></div>
  <%= hidden_field nil, "show_username", :value => params[:show_username] %>
  
  <div class="form_section">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :size => 10, :value => @membership.try(:monthly_fee) %>
  </div>

  <div class='form_section'>
    <%= f.label :due_by %><br />
    <%= f.date_select :due_by, :default => Membership.next_payment_date %>
  </div>

  <div class="form_section">
    <%= f.label :reason %><br />
    <%= f.select :reason, Invoice.reasons_for_select, :blank => true%>
  </div>

  <div class="form_section">
    <%= f.label :membership_id, "Member" %><br />
    <% if @membership.nil? %>
      <%= f.select(:membership_id, Membership.users_for_select, { :include_blank => true }) %>
    <% else %>
      <input type='text' size='30' disabled='disabled' value='<%= @membership.user.full_name %>' />
      <%= f.hidden_field :membership_id, :value => @membership.id %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
