<h2>Edit <%= @user.full_name %></h2>

<%= form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div class="span-12">
    <div class="form_section">
      <%= f.label :username %>
      <i>(this is used for your <%= link_to "profile link", member_path(@user.username), :target => '_blank' %>)</i><br />
      <%= f.text_field :username %>
    </div>

    <div class="form_section">
      <%= f.label :email %> <i>(this is how we'll send you remoinders, and find your profile image on <%= link_to "Gravatar", "http://www.gravatar.com/" %>)</i><br />
      <%= f.text_field :email %>
    </div>

    <div class="form_section">
      <%= f.label :full_name %><br />
      <%= f.text_field :full_name %>
    </div>

    <div class="form_section">
      <%= f.label :bio %> <i>(this field will be rendered with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a>)</i><br />
      <%= f.text_area :bio %>
    </div>
  </div>
  <div class="span-12 last">
    <div class="form_section">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password %>
    </div>

    <div class="form_section">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <% if current_user.is? :admin %>
      <div class="form_section">
        <h3>Manage Roles:</h3>
        <% User.valid_roles.each do |role| %>
          <%= check_box_tag "user[roles][]", role, f.object.roles.include?(role) %>
          <%=h role.to_s.humanize %><br />
        <% end %>
        <%= hidden_field_tag "user[roles][]", "" %>

        <br />
        <%= link_to_function "explanation", "$('#role-explanation').toggle()" %>

        <div id='role-explanation' class='box' style="display:none">
          <dl>
            <dt>Admin</dt><dd>This user has the ability to do almost anything, but not money stuff. BE CAREFUL WITH THIS ROLE.</dd>
            <dt>Treasurer</dt><dd>Can manage memberships and money stuff.</dd>
            <dt>Member</dt><dd>Allows bill payment, voting, access... normal member stuff. Admin and Treasurer should also be Members.</dd>
            <dt>Guest</dt><dd>Limited access. No money stuff, no voting, just access to member list. Guests should have <code>inactive</code> memberships.</dd>
          </dl>
        </div>
      </div>
    <% else %>
      <div class="box_round">
        <h3>Your Roles:</h3>
        <ul>
          <% f.object.roles.each do |role| %>
            <li><%= role %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form_section">
      <%= f.check_box :receive_notifications %>
      <%= f.label :receive_notifications, "Receive Notifications?" %>
      <i>Pending invoice notifications are sent two days before the payment is due.</i>
      <br />
      <%= f.check_box :display_publicly %> 
      <%= f.label :display_publicly, "Allow public access to your profile?" %>
      <i>Public profiles can be seen by people and robots who are not logged in.</i>
    </div>
  </div>

  <div class="span-24">
    <p><%= f.submit "Update" %> | <%= link_to "Back", :back %></p>
  </div>
<% end %>

<script>
  // compliments of verysimple.com
  function clearPwBox()
  {
    if (document.getElementById) {
      var pw = document.getElementById('user_password');
      if (pw != null) { pw.value = ''; }
    }
  }
  window.setTimeout("clearPwBox()", 1000);
</script>

