<%# this is a member profile page %>
<div class="span-24 full_profile">
  <div class="head">
    <h1><%= @user.full_name %></h1>
    <em>member since <%= @user.membership.member_since.strftime("%d %b %Y") %></em>
  </div>

  <div class="span-4">
    <img src='<%= @user.gravatar_url(128) %>' />
  </div>
  <div class="span-12 last">
    <%= raw @user.rendered_bio %>
  </div>

  <% if @user == current_user %>
    <br class='clearfix' />
    <%= link_to "Edit your profile", edit_user_path(:id => @user.id) %>
  <% end %>

</div>
<br class='clearfix' />
