<div class="span-20">
  <h2 class="lead">Billing History</h2>
  <%= render 'shared/invoices', :membership => current_user.membership %>

  <h2>Voting History</h2>

  <h2>Your Information
  <%= image_tag current_user.gravatar_url, :style => 'float: right' %></h2>

  <table>
    <tr>
      <td>Name:</td>
      <td><%= current_user.full_name %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= current_user.email %></td>
    </tr>

    <tr>
      <td>Username:</td>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <td>Bio:</td>
      <td><%= raw current_user.rendered_bio %></td>
    </tr>
    <tr>
      <td>Profile URL:</td>
      <td><%= link_to member_url(current_user.username), member_url(current_user.username) %></td>
    </tr>
  </table>
</div>

<div class="span-4 last">
  <ul class="sidenav">
    <li><%= link_to "Edit your settings", edit_user_path(current_user) %></li>
    <li><%= link_to "Pay a bill", "#" %></li>
  </ul>
</div>
