<div class="span-20">
  <h2 class="lead">Your Information
  <%= image_tag current_user.gravatar_url, :style => 'float: right' %></h2>

  <table>
    <tr>
      <td>Name:</td>
      <td><%= current_user.full_name %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= current_user.email %></td>
    </tr>

    <tr>
      <td>Username:</td>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <td>Bio:</td>
      <td><%= raw current_user.rendered_bio %></td>
    </tr>
    <tr>
      <td>Profile URL:</td>
      <td><%= link_to member_url(current_user.username), member_url(current_user.username) %></td>
    </tr>
  </table>

  <% if can?(:activate, Membership) && Membership.preactive.count > 0 %>
    <h2>Approve New Users</h2>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Profile</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Membership.preactive.each do |membership| %>
          <tr>
            <td><%= membership.user.username %></td>
            <td><%= link_to user_path(membership.user.username), user_path(membership.user.username) %></td>
            <td><%= membership.created_at.strftime("%Y-%m-%d") %></td>
            <td>
              <%= link_to "edit", edit_membership_path(membership) %>
              |
              <%= link_to "approve", activate_membership_path(membership), :method => :post, :confirm => 'Are you sure you want to approve this member?' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2>Billing History</h2>
  <%= render 'shared/invoices', :invoices => current_user.membership.invoices %>

  <h2>Voting History</h2>

</div>

<div class="span-4 last">
  <ul class="sidenav">
    <li><%= link_to "Edit your settings", edit_user_path(current_user) %></li>
    <li><%= link_to "Pay a bill", "#" %></li>
  </ul>
</div>
