<div id="header_container" class="box_gradient">
  <div class='container'>
    <header class='span-24 last'>
      <h2><%= link_to "nodewise", root_url %></h2> 

      <div class='flash_wrapper'>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :span, msg, :class => "flash", :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </div>

      <nav>
        <ul class="main_nav">
          <% if user_signed_in? %>
            <li><%= link_to "Members", members_path %></li>
            <% if can?(:manage, Invoice) %>
              <li><%= link_to "Finances", finances_path %></li>
            <% end %>
            <li><%= link_to "Voting", "#" %></li>
            <li><%= link_to "Sign out", destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
  </div>
</div>
