<% show_username ||= false %>
<% if can? :read, Invoice %>
  <div class='clearfix'>
    <%= javascript_include_tag 'libs/tablesorter/jquery.tablesorter.min' %>
    <%= javascript_include_tag 'libs/tablesorter/jquery.tablesorter.pager' %>
    <link rel='stylesheet' type='text/css' href='/javascripts/libs/tablesorter/style.css' />
    <script>
      function loadDialog(url, title) {
        var d    = $('#dialog-form'),
            container = d.find('.form-container');

        d.find('.title').text(title);
        container.html("<h3>Loading...</h3>");
        container.load(url);

        d.show();

        d.offset({
          top: $(window).scrollTop() + 50,
          left: ($(window).width() - d.width()) / 2
        });

        $('#dialog-close-link').click(function () {
          $('#dialog-form').hide();
        });
      }

      function addPayLinkBehavior() {
        $('.pay-invoice').click(function(evt) {
          var link = $(evt.target);
          loadDialog(
            "<%= new_payment_path %>?invoice_id=" + link.attr('data-attribute'), 
            "New Payment"
          );
          return false;
        });
      }

      $(function () {
        addPayLinkBehavior();

        $('.add-invoice').click(function(evt) {
          var link = $(evt.target);
          loadDialog(
            "<%= new_invoice_path %>?membership_id=" + link.attr('data-attribute') +
              "&show_username=<%= show_username ? '1' : '0' %>", 
            "Create Invoice"
          );
          return false;
        });
      });

      $(function () {
        $("#invoices").
          tablesorter({widthFixed: true, widgets: ['zebra']}).
          tablesorterPager({container: $('#invoices-pager'), positionFixed: false, size:25}); 
      });
    </script>

    <% content_for :addendum do %>
      <div id='dialog-form' style='display:none;'>
        <div class='controls clearfix'>
          <span class='title'></span>
          <a href='javascript:void(0);' id='dialog-close-link' style='position:relative;bottom:0px'>Close</a>
        </div>
        <div class='form-container'>
          <h3>Loading...</h3>
        </div>
      </div>
    <% end %>

    <div id="invoices-pager" class="clearfix">
      <form>
        <img src="/javascripts/libs/tablesorter/start.png" class="first"/>
        <img src="/javascripts/libs/tablesorter/prev.png" class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src="/javascripts/libs/tablesorter/next.png" class="next"/>
        <img src="/javascripts/libs/tablesorter/end.png" class="last"/>
        <select class="pagesize">
          <option value="10">10</option>
          <option selected="selected" value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        &nbsp;|&nbsp;
        <a href="javascript:void(0)" class="add-invoice" data-attribute='<%= @membership.try(:id) %>'>create an invoice</a>
      </form>
    </div>

    <table id="invoices" class='tablesorter'>
      <thead>
        <tr>
          <% if show_username %>
            <th>Member</th>
          <% end %>
          <th>Reason</th>
          <th>Amount</th>
          <th>Due</th>
          <th>Paid</th>
          <% if can?(:manage, Invoice) || can?(:pay, Invoice) %>
            <th>Options</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% invoices.each do |invoice| %>
          <%= render 'invoices/row', :invoice => invoice, :show_username => show_username %>
        <% end %>
      </tbody>
    </table>
  </div>

  <br class="clearboth" />
<% end %>
